= render "shared/user/signup-header"

.step2-form
  .form-block
    .phone-form-header
      %h2 電話番号の確認
    .phone-form-contents
      = form_for @user, url: step3_signup_index_path, method: :get, html: {class: 'second-main-wrapper__box'} do |f|
        .step2-form
          .form-group
            %p1 携帯電話の番号
            .step2-phone
              = f.text_field :phone_number, placeholder: '例) 09012345678'
            %p4 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

          .step2-submit
            = f.submit 'SMSを送信する', class: 'step2-submit__btn'
          %p4 ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。


= render "shared/user/user-footer"