= render "shared/header"
.item-main
  .contents
    .images
      = image_tag "dog_tree_full.jpg",height: "390", width: "100%"
      .back
        %i.fas.fa-chevron-left
      .next
        %i.fas.fa-chevron-right
      .image-points
        .image-points__pointer
          %span.fas.fa-circle
          %span.fas.fa-circle.fa-circle--active
    .category-pickup
      %h2.category-pickup__title
        人気のカテゴリー
      .pickup-popular
        %ul.pickup-popular__list
          %li.pickup-popular__list__body
            = link_to "レディース",ready_users_path
          %li.pickup-popular__list__body
            = link_to "メンズ",ready_users_path
          %li.pickup-popular__list__body
            = link_to "家電・スマホ・カメラ",ready_users_path
          %li.pickup-popular__list__body
            = link_to "おもちゃ・ホビー・グッズ",ready_users_path

    .category-popular
      .popular-items.popular-items--most
        .items-header
          %h3.items-header__title
            レディース新着アイテム
          = link_to ready_users_path do
            もっと見る
            %i.fas.fa-chevron-right.fa-fw
        .items-newer
          .newer-container
            %ul.item-list
              = render partial:"shared/item", collection: @items
        = paginate(@items)

= render "shared/footer"
= render "shared/item-creater"