.purchase-product-page
  = render "shared/logo-header"
  .purchase-product-page__contents
    .purchase-product-page__contents__main
      %h2.head-title-content
        購入内容の確認
      .purchase-product-detail
        .purchase-product-detail__main
          .purchase-product-detail__main__main
            %h3.purchase-product__img
            
            = image_tag 'fmarket_logo_red.svg', height:'36',weidth:'134'
            -# 仮置き
            %p.purchase-product__name
              購入する商品の名前
          .purchase-product-charge
            %p.purchase-product-charge__check
              購入する商品の値段
              %span
                送料込み
            %ul.purchase-product-charge__lists
              %li.purchase-product-charge__list
                .purchase-product-charge__list__point
                  ポイントはありません
            %ul.purchase-product-charge__lists__pay
              %li.purchase-product-charge__list__pay
                .purchase-product-charge__list__pay__left
                  支払い金額
                  -# 仮置き
                .purchase-product-charge__list__pay__right
                  金額
                  -# 仮置き
            = link_to buy_item_path(@detail.id),method: :post,class:"purchase-product-charge__button" do
              購入する
      .purchase-product-detail__delivery
        .purchase-product-detail__delivery__content
          %h3.shipping-address
            配送先
          .user-input-address
            住所
            -# 仮置き
          %p.user-input-address-space
          = link_to ready_users_path(current_user.id), class:"user-input-address-change" do
            %span.user-input-address-change__link
              変更する
            %i.fas.fa-chevron-right
      .method-of-payment
        .method-of-payment__main
          %h3.method-of-payment__main__way
            支払い方法
          %p.method-of-payment__main__info
            カード情報
            -# 仮置き
          .method-of-payment__main__card__img
            カードのimg
            -# 仮置き
          = link_to ready_users_path(current_user.id), class:"user-input-address-change" do
            %span.user-input-address-change__link
              変更する
            %i.fas.fa-chevron-right


= render "shared/copyright-footer"