= @detail.name
- @detail.images.each do |image|
  = image_tag image.url
= @detail.description
= @detail.users.first.name
= @detail.category_id
= @detail.brand
= @detail.size_id
= @detail.condition
= @detail.delivery.delivery_cost
= @detail.delivery.delivery_ways
= @detail.delivery.delivery_days
= @detail.price
= link_to "編集する", edit_item_path(@detail.id)